@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
  background: #ccc;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}

:root {
  --primary-color:#ff4b36;
  --secondary-color:#6f6f6f;
}

/*=================================
  Header styling starts here
=================================*/

header .wrapper {
  width: 100%;
  padding: 10px 0;
  color: #fff;
  background-color: #2b2e37;
  font-size: 40px;
  font-weight: 600;
  display: flex;
  justify-content: center;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

h3 {
  margin: 73px 0;
  font-size: 34px;
  font-weight: 700;
  position: relative;
  text-transform: capitalize;
}

 h3::before,
 h3::after {
  content: '';
  height: 5px;
  background: var(--primary-color);
  position: absolute;
}

 h3::before {
  width: 4%;
  top: 140%;
}

 h3::after {
  width: 2.5%;
  top: 119%;
  left: 0;
}

.services {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
}

.service {
  margin: 0 3.7% 14px 0;
  padding: 20px;
  padding-bottom: 22px;
  background: #fff;
  border: 1px solid #ccc;
  flex-basis: 27.3%;
  transition: all .4s ease;
}

.service:hover {  
  box-shadow: 10px 10px rgba(0,0,0,0.4);
  transform: translateY(-5px);
 }

.services li:nth-child(3),
.services li:nth-child(6) { margin: 0 0 14px 0;}

.serve-head { border-bottom: 5px solid #efefef ;}

.serve-head a {
  padding: 20px 0 18px;
  color: var(--primary-color);
  font-size: 20px;
}

.serve-body {
  display: flex;
  flex-direction: column;
}

.serve-body h4 {
  margin: 25px 0 27px;
  font-size: 22px;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.serve-body p {
  margin-bottom: 24px;
  color: var(--secondary-color);
  font-size: 18px;
}

.serve-body a {
  width: 27%;
  font-size: 18px;
  color: var(--primary-color);
  text-transform: capitalize;
}

.serve-body a:hover , .serve-head a:hover { color: #ccc; }

.readMore { 
  opacity: 0; 
  transition: all 0.4s ease-in-out;
}

/*=================================
  main styling ends here
=================================*/
